*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --fg-color: #ecedf0;
  --bg-color: #282c34;
  --bg-light: #676d79;
  --spacing: 16px;
  --border-radius: 8px;
}


body {
  margin: 0;
  color: var(--fg-color);
  font-size: 20px;
  background-color: var(--bg-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  padding-top: 100px;
}

.todo-form {
  display: block;
  margin-bottom: calc(var(--spacing) + 8px);
}

.todo-form input {
  display: block;
  width: 100%;
  padding: var(--spacing);
  font-size: 1.5rem;
  border: 0;
  border-radius: var(--border-radius);
  background-color: var(--fg-color);
}

.todo-form input:focus {
  outline: none;
}

.todo-item {
  display: flex;
  align-items: center;
  color: var(--bg-color);
  border-radius: var(--border-radius);
  background-color: var(--fg-color);
  margin-bottom: var(--spacing);
  padding: var(--spacing);
}

.todo-item .todo-checkbox {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: calc(var(--border-radius) * 2);
  margin-right: var(--spacing);
  border: 2px solid var(--bg-light);
  cursor: pointer;
}

.todo-item .todo-btn {
  background-color: transparent;
  border: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.todo-item .todo-title {
  flex: 1;
}

.todo-item.done .todo-title {
  text-decoration: line-through;
  color: var(--bg-light);
}

.todo-item.done .todo-checkbox {
  border-color: transparent;
}

.todo-item.done .todo-checkbox::before {
  content: '✅';
  font-size: 1.7rem;
  line-height: 1.7rem;
}

.total-count {
  font-size: 1.4rem;
}